<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>
<br>
<%@members.each do |member| %>

<h1>Hero Name: <%=member[:name]%></h1><br>
<p>
  Hero Power: <%=member[:power]%> <br>
  Hero Biography: <%=member[:bio]%><br>
</p>
<%end%>
